.grid {
  display: flex;
  flex-wrap: wrap;
}

.grid-item {
  width: 200px;
  height: 300px;
  display: flex;
  align-items: center;
  border: 1px solid #d8d8d8;
  border-radius: 5px;
  margin: 2px;
  background-color: #000;
  overflow: hidden;
}
.grid-item--width2 {
  width: 400px;
}

img {
  width: 100%;
  height: auto;
  object-fit: contain;
  object-position: 50% 50%;
  opacity: 1;
  transition: opacity 0.5s;
}

img[data-api] {
  opacity: 0;
}
