.grid {
  display: flex;
  flex-wrap: wrap;
}

.grid-item {
  width: 200px;
  display: flex;
  align-items: center;
  border: 1px solid #d8d8d8;
  border-radius: 5px;
  margin: 2px;
}
.grid-item--width2 {
  width: 400px;
}

img {
  width: 100%;
  height: auto;
}
